.ProductDetailImage {
  /* max-width: 400px; */
  height: 350px;
  border-radius: 10px;
}
.heartImgWrapper {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5058;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border-radius: 50%;
}
.iconImage {
  width: 32px;
  height: 32px;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: white;
}
.variantBtn {
  background-color: #26272e !important;
  border-color: #ffbe6a !important;
  border-width: 1px !important;
  width: 207px !important;
  border-radius: 10px !important;
  height: 45px !important;
  color: #ffbe6a !important;
  font-size: 18px !important;
}
.variantBtn:active {
  background-color: unset !important;
  box-shadow: unset !important;
}
.tradeBtn {
  background-color: #4fb16b;
  border-radius: 5px;
  align-items: center;
  margin-left: 20px;
  position: relative;
}
.tradeNumber {
  padding: 10px 10px 10px 20px;
}
.arrowUpIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: auto;
  left: auto;
}

.vectorIcon {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
}

.readMoreLink {
  margin-right: 15%;
  font-size: 18px;
  color: #ffbe6a;
}

.graphStyling {
  background-color: #4d5058;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.customBtn {
  background-color: #4d5058 !important;
  border-radius: 10px !important;
  color: white !important;
  font-size: 18px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  min-width: 120px;
}
.customBtn:hover {
  color: #fff;
}
.BuyNowBtn {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .BuyNowBtn {
    padding: 20px 10px;
  }
}
@media (min-width: 992px) {
  .priceSection {
    margin-top: 26px;
  }
  .BuyNowBtn {
    padding: 20px 10px;
  }
}
